drupal:
  root: "build"
  base_url: "http://web:8080/build"
  site:
    name: "OpenEuropa"
    profile: "minimal"
  database:
    host: "mysql"
    port: "3306"
    name: "poc_nextcloud"
    user: "root"
    password: ""
  post_install:
    # Prepare the instance.
    - "./vendor/bin/drush en toolbar -y"
    - "./vendor/bin/drush en group -y"
    - "./vendor/bin/drush en admin_toolbar -y"
    - "./vendor/bin/drush en field_ui -y"
    - "./vendor/bin/drush en extra_field -y"
    - "./vendor/bin/drush theme:enable olivero -y"
    - "./vendor/bin/drush theme:enable claro -y"
    - "./vendor/bin/drush config-set system.theme default olivero -y"
    - "./vendor/bin/drush config-set system.theme admin claro -y"
    - "./vendor/bin/drush config-set node.settings use_admin_theme 1 -y"
    # Enable the modules.
    - "./vendor/bin/drush en config_devel -y"
    - "./vendor/bin/drush en poc_nextcloud_demo -y"
    - "./vendor/bin/drush en oe_authentication -y"
    # Install EU Login mock, and create test users.
    - "./vendor/bin/drush en oe_authentication_eulogin_mock -y"
    - "./vendor/bin/drush cas-mock-server:start"
    - "./vendor/bin/drush casms-uc alfonso --email=alfonso@example.com --password=alfonsopw"
    - "./vendor/bin/drush casms-uc eliza --email=eliza@example.com --password=elizapw"
    - "./vendor/bin/drush casms-uc pawel --email=pawel@example.com --password=pawelpw"
    # Configure Nextcloud connection.
    - "./vendor/bin/drush config-set poc_nextcloud.settings nextcloud_user admin -y"
    - "./vendor/bin/drush config-set poc_nextcloud.settings nextcloud_pass admin -y"
    - "./vendor/bin/drush config-set poc_nextcloud.settings nextcloud_url http://nextcloud/ -y"
    - "./vendor/bin/drush config-set poc_nextcloud.settings nextcloud_web_url http://localhost:8081/ -y"
    # Override default front page "/user/login", to prevent redirect loop with EU Login.
    - "./vendor/bin/drush config-set system.site page.front /home -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
drupal_project_symlink:
  ignore:
    - ".idea"
    - "resources"
    - "spec"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:symlink-project" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - task: "append"
      file: "build/sites/default/settings.override.php"
      text: |
        // Settings for the mock server, as in oe_authentication.
        // SSL Configuration to not verify CAS server. DO NOT USE IN PRODUCTION!
        $config['cas.settings']['server']['verify'] = '2';
        $config['oe_authentication.settings']['protocol'] = 'eulogin';
        // Use the original validation path, as needed for Nextcloud user_cas.
        $config['oe_authentication.settings']['validation_path'] = 'p3/serviceValidate';

    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
